*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 20px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

nav {
  width: 100%;
  text-align:center;
}

h1 {
  padding: 20px;
  position: absolute;
}

h2 {
  font-size: 16px;
  padding: 20px;
}

div {
  float: left;
  margin: 1% 0;
  height: 200px;
  width: 100%;
}

.image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

/* code added to create two-column design */
@media screen and (min-width: 575px){
   div {
    margin: 1%;
    width: 48%;
  }
}

/* code added to create four-column design on larger devices */
@media screen and (min-width: 991px){
   div {
    margin: .5%;
    width: 22%;
  }
}
